.strikethrough { text-decoration: line-through; }
.redacted { background-color: #404040; }
.strike { text-decoration: line-through; }
.rst-content a, .rst-content a:visited { color: #2980B9; }
/*.document a, .document a:visited, .compound a, footer a, .wy-breadcrumbs a, .compound a:visited, footer a:visited, .wy-breadcrumbs a:visited { color: #2980B9; }*/
.rst-content .code-block-caption {
--tw-bg-opacity: 1;
font-style: italic;
font-size: 85%;
line-height: 1;
text-align: left;
padding: 0.75em 1em;
background-color: rgba(243,244,246,var(--tw-bg-opacity));
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
}
.gh-icon{
  width: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
}
